@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #E6F7F5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0D9488;
}
